/* Write your CSS here */
.btn {
  background-color: #585076;
  border-radius: 5px;
  border-width: 2px;
  background-size: cover;
  font-family: 'Roboto';
  font-size: 18px;
  color: #d4d2db;
  border-color: #d4d2db;
  font-weight: bold;
  width: 100%;
  height: 30px;
}
.btn-cont {
  width: 200px;
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}
